<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="TestNGSuite">
  <test thread-count="5" parallel="classes" name="ArogyaSetuAppTest">
    <classes>
      <class name="arogyasetu_application.TestArogyasetuApp"/>
      <class name="arogyasetu_application.BaseTestConfiguranceArogyasetuApp"/>
    </classes>
  </test> <!-- ArogyaSetuAppTest -->
</suite> <!-- TestNGSuite -->
